/* ================================
    CSS VARIABLES (THEMING)
================================ */
:root {
  --bg: #fff;
  --text: #222;
  --primary: #2fd4da;
  --secondary: #14b1979d;
  --accent: #fa7d50;
  --hover: #0fc927;
  --radius: 12px;
  --shadow: 0 8px 18px rgba(0, 0, 0, 0.158);

  /* Fluid Typography */
  --title-size: clamp(1.5rem, 3vw, 2.25rem);
  --subtitle-size: clamp(0.9rem, 1.5vw, 1rem);
}

body.dark {
  --bg: #111;
  --text: #eee;
  --primary: #116369;
  --secondary: #073d349d;;
  --accent: #bd4d21;
  --hover: #097517;
  --shadow: 0 8px 18px rgba(255, 255, 255, 0.158);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background 0.4s ease, color 0.4s ease;
}

/* ================================
    HEADER (Flexbox)
================================ */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
}

.logo {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.login {
  padding: 0.5rem 0.6rem;
  border-radius: var(--radius);
  background: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
}

.login:hover {
  background: var(--hover);
  box-shadow: var(--shadow);
}

.toggle-theme {
  padding: 0.5rem 0.6rem;
  border-radius: var(--radius);
  background: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.toggle-theme:active {
  transform: rotate(30deg);
}

.toggle-theme:hover {
  background: var(--hover);
  box-shadow: var(--shadow);
}

.shopping-cart {
  padding: 0.5rem 0.6rem;
  border-radius: var(--radius);
  background: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
}

.shopping-cart:hover {
  background-color: var(--hover);
  box-shadow: var(--shadow);
}

.cart-count {
  background-color: var(--accent);
  border-radius: var(--radius);
  padding: 2px 6px;
}

/* ================================
    HERO SECTION
================================ */
.hero {
  padding: 2rem;
  margin: auto;
  max-width: 60rem;
  width: 90%;
  border-radius: 18px;
  background-image: linear-gradient(135deg,
    #0b1220,
    #103981,
    #1a2c47);
  border: none;
  color: white;
  box-shadow: var(--shadow);
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: -80px;
  right: -80px;
  width: 200px;
  height: 200px;
  background-image: radial-gradient(
    circle,
    #ff8410cc 0%, 
    rgba(209, 0, 0, 0) 70%);
  border-radius: 50%;
}

.hero-title {
  font-size: var(--title-size);
  margin: 0;
}

.hero-title span {
  color: yellow;
}

.hero-desc {
  font-size: var(--subtitle-size);
  max-width: 600px;
  opacity: 0.9;
}

/* ================================
    FILTER SECTION
================================ */
.filter {
  padding: 1rem 2rem;
}

.filter-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filter-nav a {
  border: 2px solid;
  border-radius: 18px;
  padding: 0.6rem;
  text-decoration: none;
  color: var(--text);
}

.filter-nav a:focus-visible {
  border: 2px solid var(--accent);
}

.filter-nav a:focus {
  background-color: #4d4a4a7c;
}

.filter-nav a:active {
  background-color: #313030bb;
  border: dashed;
}

.filter-nav a:hover {
  color: var(--hover);
}


/* ================================
   HERO BUTTON (Animations + Transitions)
================================ */
.btn-primary {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background: var(--primary);
  border: none;
  border-radius: var(--radius);
  color: white;
  cursor: pointer;
  transition: background 0.8s, transform 0.8s;
  animation: popIn 0.5s ease-out;
}

.btn-primary:hover {
  background: var(--accent);
  transform: translateY(-4px) scale(1.05);
}

/* Animation */
@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ================================
    FEATURES SECTION
================================ */
.features {
  padding: 0 2rem;
}

.section-title {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  margin-bottom: 1rem;
}

/* ================================
    CSS GRID (Responsive)
================================ */
.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
}

/* ================================
    CARDS (Pseudo-element + Hover)
================================ */
.card {
  display: grid;
  background: var(--bg);
  padding: 2rem;
  border-radius: var(--radius);
  border: 2px solid var(--primary);
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease, border-color 0.4s ease;
  box-shadow: var(--shadow);
  position: relative;
}

.card p {
  margin: 0.4rem 0 0.5rem;
}

.card:hover {
  transform: translateY(-8px);
  border-color: var(--accent);
}

.card:hover::before {
  left: 0;
}

.card h3 {
  margin-top: 0;
  color: var(--primary);
}

.sale::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 5px dashed #bb1601;
  animation: dash 0.6s linear infinite;
  pointer-events: none;
}

@keyframes dash {
  to { 
    border: transparent;
  }
}

/* ================================
    CARD INSIDE THINGS (button, 
    product title, etc.)
================================ */

.product-type {
  font-size: 1.1rem;
  max-width: 400px;
  width: 100%;
  background: var(--secondary);
  border: none;
  border-radius: var(--radius);
  color: var(--text);
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 1rem;
}

.btn-purchase {
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  max-width: 400px;
  width: 100%;
  background: var(--primary);
  border: none;
  border-radius: var(--radius);
  color: white;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.btn-purchase:hover {
  opacity: 0.7;
}

.btn-purchase:active {
  background-color: var(--accent);
  transform: translateY(3px);
}

.btn-purchase.added {
  background-color: var(--hover);
  cursor: default;
}

.btn-purchase .added-text {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-purchase.added .add-to-cart {
  opacity: 0;
}

.btn-purchase.added .added-text {
  opacity: 1;
}

.sale-tag {
  background-color: rgba(245, 11, 11, 0.37);
  color: rgb(231, 34, 20);
  border-radius: var(--radius);
  padding: 2px 6px;
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 0.8rem;
}

.low-stock-tag {
  background-color: rgba(224, 151, 15, 0.507);
  color: #7c340b;
  border-radius: var(--radius);
  padding: 2px 6px;
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 0.8rem;
}

.price {
  color: blue;
  font-weight: bold;
  font-size: 1.3rem;
}

.discount {
  font-weight: lighter;
  font-size: 0.8rem;
  text-decoration: line-through;
}

.card.low::after {
  content: "Hurry few left in stock!";
  text-align: right;
  font-size: 0.8rem;
  font-weight: bold;
  color: red;
  position: absolute;
  bottom: 7px;
  right: 39px;
}

.checked {
  color: orange;
}

/* ================================
    FOOTER
================================ */
.footer {
  text-align: center;
  font-size: var(--subtitle-size);
}

/* ================================
    MEDIA QUERY EXAMPLE
================================ */
@media (max-width: 640px) {
  .filter-nav {
    flex-direction: column;
  }

  .hero {
    padding: 3rem 1rem;
  }

  .btn-primary {
    width: 100%;
  }
}
